<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
    <% if @user.orders.any? %>
      <h3>Orders (<%= @user.orders.count %>)</h3>
      <%= render @orders %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit Settings', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
