    <header class="navbar navbar-fixed-top">
      <div id="nav">
        <div class="container">
          <%= link_to "RR Stationary", '#', id: "logo" %>
          <nav>
            <ul class="main-nav pull-right list-inline">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Products",products_path %></li>
              <li><%= link_to "My Cart",'#' %></li>
              <li><%= link_to "My Orders",'#' %></li>
              <li><%= link_to "Sign in", signin_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
